@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bebas-nue-font {
  font-family: "Bebas Neue", sans-serif;
}

.section-two {
  /* background: #ff5733; */
  /* background: #ff5252; */
  background: #fff;
}

:root {
  --cards-bg: "";
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #161616;
  color: white;
  overflow-x: hidden;
}

.horizontal-padding {
  @apply px-4 lg:px-8 xl:px-16 2xl:px-32;
}

.section-heading {
  /* font-family: "Bebas Neue", sans-serif; */
  @apply text-4xl lg:text-5xl xl:text-7xl 2xl:text-[110px] text-center font-semibold uppercase tracking-tighter;
}

.section-one {
  background-color: #00bf63;
  position: relative !important;
}

.section-three {
  /* background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */
  background-color: #f42029;
}

.section-four > h1 {
  color: #161616;
}

.section-seven > h1 {
  color: #485083;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.content {
  position: relative;
}

.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #000;
  transform-origin: 0% 50%;
}

/* effect cards */
.swiper {
  width: 400px;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  /* font-size: 22px; */
  /* font-weight: bold; */
  /* color: #fff; */
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

@keyframes opacityAnimate {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}

/* .animate-tree {
  animation: opacityAnimate 3s infinite ease-in-out;
} */
